@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}
@font-face {
    font-family: 'Urbanist';
    src: url('../fonts/Urbanist-Light.ttf');
}
@font-face {
    font-family: 'Urbanist Regular';
    src: url('../fonts/Urbanist-Regular.ttf');
}