@media only screen and (min-width: 1300px) {

    header {


        & > nav {
           
            &>.item {
                width: 97%;
                margin: auto;

            }
        }
      
    }
    
   

}




@media only screen and (max-width: 1300px) {

    .container{
        width: 97%;
        margin: auto;
    }

    header {


        & > nav {
           
            &>.item {
                width: 97%;
                margin: auto;

            }
        }
       
        
      
    }
    
   

}
@media only screen and (max-width: 1200px) {

    .container{
        width: 97%;
        margin: auto;
    }

    header {


        & > nav {
           
            & > .item {
                width: 97%;
                margin: auto;

            }

            & > .content {
                min-width: 100%;
                min-height: 6000px;
                position: relative;
               

                
        
                
    
                & > .vedio{  
                   min-width: 100%; 
                   height: 100%;  
                   position: absolute;
                   z-index: -1;
                   
                   
                }
               
            }
           
        }
      
           
      
       
    
      
        

          
    
      
    }
    
   

}
@media only screen and (max-width: 1140px) {

    .container{
        width: 95%;
        margin: auto;
    }

    header {


        & > nav {
           
            & > .item {
                width: 97%;
                margin: auto;

            }

           
           
        }

        & > .content{

            & > .container{

                & > h3{

                    padding-top: 60px;
                }

                & > form{
                    

                    & > input{

                        margin-top:20;
                        margin-bottom: 70px;
                    }
                }
            }

            
        }
       
       
    
      
        

          
    
      
    }

    section{
      
       & > .container{
       
        & > .process{

            & > .info{

                & > .img{

                    & > img{

                        width: 300px;
                    }
                }
            }
            
        }
        & > .history{

            & > .box{

                max-width: 350px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 90px;

                & > h4{
                
                    font-size: 39px;
                    
                }
                & > h5{

                    margin-bottom: 30px;
                }
                & > P{
                  
                    
                    margin-top:  50px;
                   

                }
            }
        }
        & > .popular{

            & > .item{

                & > .box{

                    width: 300px;
                }
            }
        }
        & > .cta{

            & > .photo{

                margin-left: 30px;


            }
            & > .text{

                margin-right: 40px;

                & > h4{
                    // width: 480px;
                    font-size: 43px;


                }

            }

        }
        & > .menu{
            & > .info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                & > .item{
                    & > .box{

                        width: 800px;
                        
                        & > p{

                            margin-left: 80px;
                            margin-right: 200px;
                        }
                    }
    
                }

            }
            

        }
        & > .testimonial{

            & > .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{

                    width: 80%;
                    margin-bottom: 40px;

                    & > .photo{
                        display: flex;
                        justify-content: space-between;

                        & > img{
                            margin-left: 60px;
                            width: 159px;
                            height: 179px;
                        }
                        & > p{

                            margin-right: 60px;
                            text-align: justify;
                        }
                    }
                    & > .main{

                        & > .text{
                            margin-left: 70px;

                            
                        }
                    }

                }

               
                   

                   
            }
        }
        & > .table{

            & > .box{

                & > .info{
                    max-width: 430px;
                    width: 100%;
                   


                }
            }
        }
        & > .our{
            & > .item{
                display: flex;
                // flex-wrap: wrap;

            
                & > .box{
                    width: 300px;
                    & > img{
                        width: 300px;
                    }

                }
            }
        }
       }
    }
    
   

}
@media only screen and (max-width: 992px) {

    .container{
        width: 95%;
        margin: auto;
    }

    header {


        & > nav {
           
            & > .item {
                width: 97%;
                margin: auto;

                & > ul{

                    width: 350px;

                    & > li{

                        & > a{

                            font-size: 18px;

                        }
                    }
                }

            }

           
           
        }

        & > .content{

            & > .container{

                & > h3{

                    padding-top:10px;
                    font-size: 60px;
                    padding-left: 40px;
                }
                & > p{

                    padding-left: 40px;
                    width: 580px;
                }


                & > form{
                    

                    & > input{

                        width: 180px;
                        height: 60px;

                        margin-top:15px;
                        margin-bottom: 20px;
                        margin-left: 40px;
                    }
                }
            }

            
        }
       
       
    
      
        

          
    
      
    }

    section{
      
       & > .container{
       
        & > .process{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            & > .info{

                margin-bottom: 100px;
               

                & > .img{

                    & > img{

                        width: 380px;

                       
                    }
                   
                }
            }
            
        }
        & > .history{

            & > .box{

                max-width: 350px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 90px;

                & > h4{
                
                    font-size: 39px;
                    
                }
                & > h5{

                    margin-bottom: 30px;
                }
                & > P{
                  
                    
                    margin-top:  50px;
                   

                }
            }
        }
        & > .popular{

            & > .item{

                & > .box{

                    width: 280px;
                }
            }
        }
        & > .cta{

            & > .photo{

                margin-left: 30px;


            }
            & > .text{

                margin-right: 40px;

                & > h4{
                    // width: 480px;
                    font-size: 43px;


                }

            }

        }
        & > .menu{
            & > .info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                & > .item{
                    & > .box{

                        width: 800px;
                        
                        & > p{

                            margin-left: 80px;
                            margin-right: 200px;
                        }
                    }
    
                }

            }
            

        }
        & > .testimonial{

            & > .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{

                    width: 80%;
                    margin-bottom: 40px;

                    & > .photo{
                        display: flex;
                        justify-content: space-between;

                        & > img{
                            margin-left: 60px;
                            width: 159px;
                            height: 179px;
                        }
                        & > p{

                            margin-right: 60px;
                            text-align: justify;
                        }
                    }
                    & > .main{

                        & > .text{
                            margin-left: 70px;

                            
                        }
                    }

                }

               
                   

                   
            }
        }
        & > .table{

            & > .box{

                & > .info{
                    max-width: 400px;
                    width: 100%;
                   


                }
            }
        }
        & > .our{
            & > .item{
                display: flex;
                justify-content: space-around;
           
                flex-wrap: wrap;

            
                & > .box{
                    width: 350px;
                    margin-bottom: 50px;
                    & > img{
                        width: 100%;
                    }

                }
            }
        }
        & > .list{
            margin-top: 100px;
            & > ul{
                width: 400px;
                & > li{
                    & > a{

                        font-size: 15px;

                    }
                }
            }

        }
       }
    }
    
   

}
@media only screen and (max-width: 840px) {

    .container{
        width: 95%;
        margin: auto;
    }

    header {


        & > nav {
           
            & > .item {
                width: 97%;
                margin: auto;

                & > ul{

                    width: 350px;

                    & > li{

                        & > a{

                            font-size: 18px;

                        }
                    }
                }

            }

           
           
        }

        & > .content{

            & > .container{

                & > h3{

                    padding-top:10px;
                    font-size: 60px;
                    padding-left: 40px;
                }
                & > p{

                    padding-left: 40px;
                    width: 580px;
                }


                & > form{
                    

                    & > input{

                        width: 180px;
                        height: 60px;

                        margin-top:15px;
                        margin-bottom: 20px;
                        margin-left: 40px;
                    }
                }
            }

            
        }
       
       
    
      
        

          
    
      
    }

    section{
      
       & > .container{
       
        & > .process{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            & > .info{

                margin-bottom: 100px;
               

                & > .img{

                    & > img{

                        width: 380px;

                       
                    }
                   
                }
            }
            
        }
        & > .history{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            & > .photo{

                & > img{

                    width: 320px;

                }
            }

            & > .phot{

                & > img{

                    width: 320px;

                }
            }

            & > .box{

                
                min-width: 715px;
                margin-top: 20px;
                height: 450px;
                

                & > h4{
                
                    font-size: 39px;
                    margin-left: 48px;
                   
                    
                }
                & > h5{
                    margin-left: 50px;
                    margin-bottom: 30px;
                }
                & > p{
                  
                    // width: 600px;
                    margin-top:  30px;
                    margin-left: 50px;
                   

                }
            }
        }
        & > .popular{

            & > .item{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{

                    width: 500px;
                    margin-bottom: 30px;
                }
            }
        }
        & > .cta{
            height: auto;

            & > .photo{

                margin-left: 30px;


            }
            & > .text{

                margin-right: 40px;

                & > h4{
                    // width: 480px;
                    font-size: 43px;


                }

            }

        }
        & > .menu{
            & > .info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                & > .item{
                    & > .box{

                        max-width: 800px;
                        width: 100%;

                        
                        & > p{

                            margin-left: 80px;
                            margin-right: 180px;
                        }
                        & > span{
                            margin-right: 20px;
                        }
                    }
    
                }

            }
            

        }
        & > .testimonial{

            & > .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{

                    width: 80%;
                    margin-bottom: 40px;

                    & > .photo{
                        display: flex;
                        justify-content: space-between;

                        & > img{
                            margin-left: 60px;
                            width: 159px;
                            height: 179px;
                        }
                        & > p{

                            margin-right: 60px;
                            text-align: justify;
                        }
                    }
                    & > .main{

                        & > .text{
                            margin-left: 70px;

                            
                        }
                    }

                }

               
                   

                   
            }
        }
        & > .table{

            & > .box{

                & > .info{
                    max-width: 330px;
                    width: 100%;
                   


                }
            }
        }
        & > .our{
            & > .item{
                display: flex;
                justify-content: space-around;
           
                flex-wrap: wrap;

            
                & > .box{
                    width: 350px;
                    margin-bottom: 50px;
                    & > img{
                        width: 100%;
                    }

                }
            }
        }
        & > .list{
            margin-top: 100px;
            & > ul{
                width: 400px;
                & > li{
                    & > a{

                        font-size: 15px;

                    }
                }
            }

        }
       }
    }
    
   

}
@media only screen and (max-width: 768px) {

    .container{
        width: 95%;
        margin: auto;
    }

    header {


        & > nav {
           padding: 10px 0;
            & > .item {
                width: 97%;
                margin: auto;

                & > ul{

                    

                    & > li{

                        & > a{

                            font-size: 13px;

                        }
                    }
                }

            }

           
           
        }

        & > .content{

            & > .container{

                & > h3{
                    // text-align: center;
                    padding-top:40px;
                    font-size: 40px;
                    padding-left: 40px;
                    width: 450px;
                }
                & > p{

                    padding-left: 40px;
                    max-width: 460px;
                    margin-top: 20px;
                    font-size: 16px;
                    // text-align: center;
                    padding-bottom: 10px;
                }


                & > form{
                    text-align: center;

                    & > input{

                        width: 100px;
                        height: 40px;
                        margin: auto;
                        font-size: 12px;

                        margin-top:0px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        
                       
                    }
                }
            }

            
        }
       
       
    
      
        

          
    
      
    }

    section{
      
       & > .container{
       
        & > .process{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            & > .info{

                margin-bottom: 100px;
               

                & > .img{

                    & > img{

                        width: 380px;

                       
                    }
                   
                }
            }
            
        }
        & > .history{

            & > .box{

                
                min-width:500px;
                height: auto;
                
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 90px;

                & > h4{
                
                    font-size: 39px;
                    
                }
                & > h5{

                    margin-bottom: 30px;
                }
                & > p{
                  
                    
                    margin-top:  50px;
                    padding-bottom: 20px;
                   
                   

                }
            }
        }
        & > .popular{

            & > .item{

                & > .box{

                    width: 280px;
                }
            }
        }
        & > .cta{

            & > .photo{

               margin: 0;


            }
            & > .text{

                // margin-right: 40px;
                // display: none;

                & > h4{
                    // width: 480px;
                    font-size: 43px;


                }
                & > p{
                    padding-right: 1px;
                }

            }

        }
        & > .menu{
            & > .info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                & > .item{
                    & > .box{

                        max-width: 500px;
                        
                        & > p{

                            margin-left: 80px;
                            margin-right: 100px;
                        }
                    }
    
                }

            }
            

        }
        & > .testimonial{

            & > .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{

                    width: 100%;
                    margin-bottom: 40px;

                    & > .photo{
                        display: flex;
                        justify-content: space-between;

                        & > img{
                            margin-left: 60px;
                            width: 159px;
                            height: 179px;
                        }
                        & > p{

                            margin-right: 60px;
                            text-align: justify;
                        }
                    }
                    & > .main{

                        & > .text{
                            margin-left: 70px;

                            
                        }
                    }

                }

               
                   

                   
            }
        }
        & > .table{

            & > .box{

                & > h4{

                    font-size: 30px;
                }

                & > .info{
                    max-width: 320px;
                    & > span{
                        font-size: 15px;

                    }
                   
                   


                }
            }
        }
        & > .our{
            & > .item{
                display: flex;
                justify-content: space-around;
           
                flex-wrap: wrap;

            
                & > .box{
                    width: 350px;
                    margin-bottom: 50px;
                    & > img{
                        width: 100%;
                    }

                }
            }
        }
        & > .list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 100px;
            & > ul{
                width: 400px;
                & > li{
                    & > a{

                        font-size: 15px;

                    }
                }
            }
            & > form{
               margin: auto;
               
              margin-top: 50px;

            }

        }
       }
    }
    
   

}
@media only screen and (max-width: 500px) {

    .container{
        width: 95%;
        margin: auto;
    }

    header {
        .navburger{
            display: block;
        }
        
        & > nav {
           display: none;
           padding: 10px 0;
            & > .item {
                width: 97%;
                margin: auto;

                & > .logo{

                    & > img{

                        width: 60px;
                        height: 50px;
                    }
                }

                & > ul{
                    display: none;
                    // width: 130px;

                    & > li{

                        & > a{

                            font-size: 8px;

                        }
                    }
                }

            }

           
           
        }

        & > .content{

            & > .container{

                & > h3{
                    
                    padding-top:14px;
                    font-size: 35px;
                    padding-left: 30px;
                    width: 300px;
                }
                & > p{

                    padding-left: 30px;
                    max-width: 300px;
                    line-height: 150%;
                    margin-top: 10px;
                    font-size: 12px;
                    padding-bottom: 0px;
                }


                & > form{
                    text-align: center;

                    & > input{

                        width: 70px;
                        height: 30px;
                        margin: auto;
                        font-size: 9px;
                        font-weight: 400;

                       
                        margin-bottom: 6px;
                        
                        
                       
                    }
                }
            }

            
        }
       
       
    
      
        

          
    
      
    }

    section{
      
       & > .container{
       
        & > .process{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 50px;

            & > .info{

                margin-bottom: 100px;
               

                & > .img{

                    & > img{

                        width: 300px;

                       
                    }
                   
                }
            }
            
        }
        & > .history{
            & > .photo{

                & > img{
                    margin-bottom: 40px;
                    width: 300px;
                }
            }


            & > .box{

                
                min-width:330px;
                height: auto;
                
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 90px;

                & > h4{
                
                    font-size: 30px;
                    margin-left: 10px;
                    
                    
                }
                & > h5{

                    margin-bottom: 30px;
                    margin-left: 0;
                    text-align: center;
                }
                & > p{
                  
                    
                    margin-top:  50px;
                    padding-bottom: 20px;
                    margin-left: 10px;
                    
                   
                   

                }
            }
        }
        & > .popular{

            & > .item{

                & > .box{

                    width: 300px;
                }
            }
            & > .btn{

                & > button{

                    width: 200px;
                }
            }
        }
        & > .cta{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & > .photo{

               margin: 0;
               margin: auto;
               padding-top: 30px;
               padding-bottom: 30px;


            }
            & > .text{

                margin: 0;

                & > h4{
                    
                    font-size: 25px;
                    text-align: center;


                }
                & > p{
                    padding: 0 3px;
                }
                & > button{
                    

                    width: 200px;
                    margin-left: 75px;
                    margin-bottom: 30px;
                    
                    
                }

            }

        }
        & > .menu{
            & > .info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                & > .item{
                    & > .box{

                        max-width: 100%;
                        
                        
                        & > p{
                            font-size: 20px;

                            margin-left: 30px;
                            margin-right: 10px;
                        }
                    }
    
                }

            }
            

        }
        & > .testimonial{

            & > .text{
                & > h5{

                    font-size: 32px;
                    padding-top: 10px;
                }
            }

            & > .info{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & > .box{
                    display: flex;
                    flex-wrap: wrap;

                    width: 100%;
                    margin-bottom: 40px;

                    & > .photo{

                        // display: flex;
                        margin: auto;
                       
                        flex-wrap: wrap;

                        & > .text{
                           

                            & > h5{

                                padding-bottom: 8px;
                                padding-left: 0;
                                text-align: center;
                               
                            }

                            & > img{
                                width: 230px;
                                height: 240px;
                                padding-top: 30px;
                                
                             }
                             & > p{

                                // margin-right: 60px;
                                text-align: justify;
                                text-align: center;
                                
                            }


                        }

                       
                       
                    }
                    & > .main{

                        & > .text{
                            margin-left: 70px;


                            
                        }
                        & > p{
                            text-align: justify;
                            padding-top: 10px;
                            padding-left: 0;
                        }
                        & > .icon{
                            margin-left: 200px;
                            margin-bottom: 20px;
 

                        }
                    }

                }

               
                   

                   
            }
        }
        & > .table{
            display: flex;
            flex-wrap: wrap;

            & > .card{
                width: 100%;
            }

            & > .box{
                width: 100%;
                margin-top: 20px;

                & > h4{

                    font-size: 30px;
                }

                & > .info{
                    max-width: 320px;
                    & > span{
                        font-size: 15px;

                    }
                   
                   


                }
            }
        }
        & > .our{
            & > .item{
                display: flex;
                justify-content: space-around;
           
                flex-wrap: wrap;

            
                & > .box{
                    width: 300px;
                    margin-bottom: 50px;
                    & > img{
                        width: 100%;
                    }

                }
            }
        }
        & > .list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;
            & > li{
                margin: auto;
                padding-bottom: 20px;
               
            }
            & > ul{
                width: 400px;
                & > li{
                    & > a{

                        font-size: 15px;
                       

                    }
                }
            }
            & > form{
               margin: auto;
               
              margin-top: 50px;

               
            }

        }
       }
    }
    
   

}
